:host {
  background-color: #ac0a0a; /* Cambia el color según tu preferencia */
}
.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
// #tipo{
//   background-color: rgb(0, 255, 106);
// }

.mat-row:nth-child(even){
  background-color: #e4f0ec;
}
.mat-row:not(:nth-child(odd)){
  background-color:#b0a8a8;
}


// .mat-row:nth-child(2n+1){
//   background-color: #e4f0ec;
// }
// .mat-row:not(:nth-child(4n+1)){
//   background-color:#ffffff;
// }