<h1>Resúmenes</h1>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <h2>ITA SALUD</h2>
    <ul>
      <li style="color: green">Total de Ingresos : $150.000,00</li>
      <li style="color: red">Total de Egresos : $100.000,00</li>
      <hr />
      <li>Ingresos por alquileres : $150.000,00</li>
      <li>Ingresos por Fotocopias : $150.000,00</li>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile><H2>INTERNACION DOMICILIARIA</H2></mat-grid-tile>
  <mat-grid-tile><h2>PREOCUPACIONALES</h2></mat-grid-tile>
  <mat-grid-tile><h2>OTROS</h2></mat-grid-tile>
</mat-grid-list>
